.Footer {
  background: #131e07;
  padding-top: 8%;
  padding-left: 8%;
  color: whitesmoke;
}

.footerText {
  padding-right: 0px;
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  padding-bottom: 19px;
  color: #7c8176;
}

.footerSubText {
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;

  color: #e5e5e5;
}

.inputInput {
  @media (max-width: 376px) {
    width: 326px;
    height: 62px;
    border: 1px solid #7c8176;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 15px;
  }
  background: none;
  width: 350px;
  height: 50px;
  padding-left: 15px;
  border: 1px solid #7c8176;
  box-sizing: border-box;
  border-radius: 8px;
}
.inputButton {
  background: #fabd20;
  border-radius: 4px;
}
.buttonInput {
  @media (max-width: 376px) {
    width: 326px;
    height: 62px;
    border-radius: 8px;
    margin-left: 0px;
  }

  margin-left: -130px;
  width: 113px;
  height: 34px;
  border: 0;
  -webkit-appearance: none;
  background: #fabd20;
  border-radius: 4px;
}
.inputWithButton {
  position: relative;
  display: inline-block;
}

.posRight {
  text-align: right;
  padding-right: 10%;
}

.termsAndConditions {
  @media (max-width: 376px) {
    display: none;
  }
}
