.Header {
  padding-top: 30px;
  background: #fef4e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media (max-width: 376px) {
    justify-content: space-around;
  }
}
.inline {
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
}
.float {
  float: right;
}

.LoginButton {
  text-align: center;
  width: 124px;
  height: 50px;
  line-height: 50px;
  background: #fabd20;
  border-radius: 8px;
}

.TopMenu {
  padding-left: 8%;
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  color: #131e07;
}

.CompanyLogo {
  padding-left: 8%;
  vertical-align: middle;
}
// .onPage {
// position: relative;
//   width: 8px;
//   height: 8px;
//   top: 70px;
//   background: #fabd20;
// }

.mobileMenu {
  padding-top: 30px;
  // background: red;
}
.popup-content {
  top: 0px !important;
  left: 0px !important;
  width: 80% !important;
  background-color: white !important;
  height: 100% !important;
}

.menuItem {
  padding-top: 10px;
  padding-left: 25px;
  font-weight: bold;
  font-size: 19px;
}
