.Pluses {
  padding-top: 8%;
  background: #fef4e6;
  display: flex;
  justify-content: space-around;
  padding-bottom: 8%;
  @media (max-width: 376px) {
    display: block;
  }
}

.column {
  display: inline-grid;
}

.yellowNumbers {
  font-family: Rozha One;
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 117%;
  /* identical to box height, or 94px */

  font-feature-settings: "haln" on;

  color: #fabd20;
}

.stat {
  font-family: Reem Kufi;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;

  color: #131e07;
}
